.root {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  height: var(--navbar-height);

  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: large;

  z-index: 10;
}

.section {
  display: flex;
  height: 100%;
  align-items: center;
}

.image {
  margin-left: var(--margin);
  height: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;

  transition: all 150ms;
}

.image:hover {
  transform: scale(1.05, 1.05);
}

.image:active {
  transform: scale(0.95, 0.95);
}

.title {
  margin-left: var(--margin);
}

.list_items {
  justify-content: center;
  margin-left: var(--margin);
  margin-right: var(--margin);

  color: var(--font-color);
  cursor: pointer;

  transform: translateY(150px);
}

.list_items.active {
  transform: translateY(0);
}

.list_items:hover {
  text-decoration: underline dotted;
}
@media only screen and (max-width: 760px) {
  .list_items {
    display: none;
  }
}
