.root {
  min-height: 70vh;
}

@media only screen and (max-width: 700px) {
  .root {
    min-height: 100vh;
  }
}

.intro {
  font-family: Calibre;
  font-size: medium;
  letter-spacing: 4px;
}

.name {
  font-size: clamp(5rem, 8vw, 8rem);
  font-family: Mark;
  font-weight: normal;
}

.description {
  margin-top: 1rem;
  font-family: Calibre;
  font-size: medium;
  letter-spacing: 4px;
  width: 100%;
}

.intro_description {
  color: var(--grey);
  margin-top: 1rem;
  font-family: "Outfit", sans-serif;
  font-size: small;
  letter-spacing: 4px;
  width: clamp(1rem, 100%, 30rem);
}
