body {
  /* COLORS */
  --black: #10101a;
  --white: #ffffff;
  --green: #0cf64c;
  --yellow: #ecbe14;
  --red: #f7002a;
  --grey: #c4c4c4;

  --navbar-height: 4rem;

  --font-color: var(--white);
  --fg-color: var(--black);
  --bg-color: var(--black);

  background-color: var(--bg-color);
  color: var(--white);
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.title {
  background: #b0f3f1;
  background: linear-gradient(to right, #b0f3f1 0%, #ffcfdf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 3rem;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.description {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: var(--grey);
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.gradient {
  --color-purple: #8000ff;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;

  background: linear-gradient(-45deg, #ffcfdf, #b0f3f1, #ffcfdf, #b0f3f1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: gradient_shift 5s ease-in-out infinite;
  font-family: Mark;
  font-weight: bolder;
}

.text {
  -webkit-background-clip: none;
  background-clip: none;
  -webkit-text-fill-color: var(--font-color);
  background-size: 200% auto;
  animation: gradient_shift 3s ease-in-out infinite;
  font-family: "Paytone One", sans-serif;
}

@keyframes gradient_shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: Calibre;
  src: url(./fonts/Calibre-Medium.ttf);
}

.wavy {
  animation-name: wavy;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes wavy {
  0% {
    transform: translateY(0.2rem);
    background-position: 0% 50%;
  }
  50% {
    transform: translateY(-0.2rem);
    background-position: 100% 50%;
  }
  100% {
    transform: translateY(0.2rem);
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: Mark;
  src: url("./fonts/MarkPro-Heavy.woff");
}
